html {
  height: 100%;
}

body {
  background-size: cover;
  background: url(https://s3-us-west-2.amazonaws.com/gmc-data/Misc/haunted_forest.jpg) 100%;
  
  font-family: 'Vollkorn', serif;
}

h1 {
  font-variant: small-caps;
  margin-top: 5rem;
  text-align: center;
}

#intro {
  margin: 4rem auto;
  width: 60vw;
  text-align: center;
}

.button {
  margin: 4rem auto;
  text-align: center;
  width: 100px;
}

.mute-button {
  margin: 2rem auto;
  text-align: center;
  width: 68px;
}

.horror-button {
  background: #555;
  background: linear-gradient(#888, #555);
  box-shadow: 0 1px 1px #666, 0 5px 5px #444, 0 6px 6px rgba(0,0,0,0.6);
  border: 1px solid #666;
  color: #ccc;
  font-variant: small-caps;
  transition: all 150ms ease;
}

button.horror-button:hover, button#new-quote-button:focus {
    animation: pulsate 1.2s linear infinite;
}

@keyframes pulsate {
  0%   { color: #ddd; text-shadow: 0 -1px 0 #000; }
  50%  { color: #fff; text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff; }
  100% { color: #ddd; text-shadow: 0 -1px 0 #000; }
}

button.horror-button:active {
  color: #fff;
  text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 2px 2px rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 0 #666, 0 2px 0 #444, 0 2px 2px rgba(0,0,0,0.9);
  transform: translateY(3px);
  animation: none;
}

#quote-box {
  background: #333;
  border: 1px solid #666;
  border-radius: 5px;
  color: white;
  margin: 4rem auto 2rem auto;
  width: 45vw;
  min-height: 10vh;
  box-shadow: 3px 3px 5px 1px #333;
}

#quote {
  margin: 1rem;
}

.attrib {
  margin: 1rem;
  text-align: right;
}

#twitter-button {
  text-align: center;
}
